* {
    font-family: Roboto, Arial;
    font-size: 20px;
}

body {
    background-color: lightgoldenrodyellow;
}

.body-container {
    display: flex;
    border-style: solid;
    border-color: aliceblue;
}

.left-container {
    /* display: flex; */
    flex: 1;
    background-color: lightblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: lightcoral;
    align-items: center;
}

.right-container {
    /* display: flex; */
    flex: 1;
    background-color: lightblue;
}

.exercise {
    background-color: lightgreen;
    width: 50%;
}